body{
    background-size: cover;
}
.heading{
    font-size: xx-large;
    width: 100%;
    margin: 0px;
}
.note{
    font-size: 23px;
    color: darkmagenta;
}
.play_button{
    width: 130px;
    font-size: larger;
}
canvas{
    border: 5px solid red;
    border-radius: 20px;
}